@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  --font-sans: "Poppins", sans-serif;
  --font-bangla: "Hind Siliguri", sans-serif;
}

html,
body {
  font-family: var(--font-sans);
}

.font-bangla {
  font-family: var(--font-bangla);
}